streamlit>=1.36.0
pandas>=2.2.0
plotly>=5.22.0
phonenumbers>=8.13.0
python-dateutil>=2.9.0
openpyxl>=3.1.0
sqlalchemy>=2.0.0
streamlit-option-menu>=0.3.6
streamlit-extras>=0.4.0
streamlit-aggrid>=1.0.0
streamlit-authenticator>=0.3.0
reportlab>=4.2.0
requests>=2.31.0
